repos/
nbdigital/20150526_nbdig_txt01/
nbdigital/dikt-ikke-idetfri/
nbdigital/20150526_nbdig_txt01.tar.gz
nbdigital/hocr.tar.gz
nbdigital/new_ocr/xml-files
arbeidsnotat.md
Untitled.ipynb
nbdigital/books_read
